# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# file too large
asm/mupdf.asm

# Mac OS X files
.DS_Store

# Vim temporary files
*.swp

# Python bytecode
*.pyc

config/config.yaml
log/*
data/*
pgm/*
asm/*

# Test files (bin & log)
test/proto/bin/*
test/proto/log/*
