PyYAML==3.12
argparse==1.2.1
bottle==0.12.13
clang==3.5
cmd2==0.6.8
cycler==0.10.0
functools32==3.2.3-2
matplotlib==2.0.0
numpy==1.11.1
pandas==0.19.2
pyelftools==0.23
pyparsing==2.0.5
pyreadline==2.1
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
spread-confiture==0.17.3rc1
subprocess32==3.2.7
wheel==0.24.0
wsgiref==0.1.2
